.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	padding: 5px;
	transition: all 1s;
}

.image {
	position: relative;
	top: 0;
	display: block;
	height: auto;
	width: 150%;
}

.image:hover {
	transform: scale(1.05);
}

.pinto {
	top: 3em;
	left: 2em;
	position: absolute;
}